<div class="form-group">
  <label>Filter by book type:</label>
  <select class="form-control" (change)="filter($event.target.value)">
    <option value="All">All Books</option>
    <option value="Teens">Teens</option>
    <option value="Children">Children</option>
    <option value="Adult">Adult</option>
  </select>
</div>
<div *ngFor="let book of allBooks | filter: bookType | async">
  <div [class]="panelColor(book)">
    <div class="panel-heading">
      <h3 (click)=bookDetail(book.$key)>{{book.title}}</h3>
    </div>
      <div class="panel-body">
        <h6>Genre: {{book.genre}}</h6>
        <div *ngIf="currentRoute === '/admin'">
        <h5>Content: {{book.content}}</h5>
        <app-book-edit [book]="book"></app-book-edit>
      </div>
      </div>
  </div>
</div>
