<div class="well">
  <h6>Edit book</h6>
  <div class="form-group">
    <label>Edit Book Title:</label>
    <input type="text" [(ngModel)]="book.title" class="form-control">
  </div>
  <div class="form-group">
    <label>Edit Book Genre:</label>
    <input type="text" [(ngModel)]="book.genre" class="form-control">
  </div>
  <div class="form-group">
    <label>Edit Book Content:</label>
    <input type="text" [(ngModel)]="book.content" class="form-control">
  </div>

  <button (click)="editBook(book)" class="btn btn-md btn-info">Edit</button>
  <button (click)="deleteBook(book)" class="btn btn-md btn-danger">Delete</button>

</div>
