/* You can add global styles to this file, and also import other style files */
.jumbotron {
  background-image: url(https://cdn4.teebooks.com/3569/set-of-4-wall-mounted-bookshelves-us.jpg);
  background-size: cover;
  background-position: left;
  text-align: center;
  font-size: 6em;
  opacity: 0.7;
  color: rgba(84, 124, 85, 0.8) !important;
}

h3{
  cursor: pointer;
}
